from .base import *

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = ''

# https://docs.djangoproject.com/en/5.2/ref/settings/#allowed-hosts
# Example value: [yoursite.example.com]
ALLOWED_HOSTS = []

# https://docs.djangoproject.com/en/5.2/ref/settings/#std-setting-CSRF_TRUSTED_ORIGINS
# Example value: [https://yoursite.example.com]
CSRF_TRUSTED_ORIGINS = []

STATIC_ROOT = '/var/www/gutenberg/static'

# This is a custom setting which controls how the index.html file is served for the SPA webapp.
# All webapp routes are handled by the Django server to handle authentication.
# If enabled, Django will instruct Nginx to serve the index.html file using the X-Accel-Redirect header.
# If disabled, django.contrib.staticfiles will be used to serve the file.
# See backend/printing/views.py
NGINX_ACCEL_ENABLED=True

# Admin e-mail addresses to send messages to when errors occur
ADMINS = []

# Database
# https://docs.djangoproject.com/en/2.1/ref/settings/#databases
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'gutenberg',
        'USER': 'gutenberg',
        'PASSWORD': '',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

# Logging
LOGGING['handlers']['print_file']['filename'] = '/var/log/gutenberg/print.log'
LOGGING['handlers']['django_file']['filename'] = '/var/log/gutenberg/django.log'

# Printing
# Directory to store the printed files in
MEDIA_ROOT = '/srv/printing/'

# Uncomment lines below to enable Open ID Connect auth
# LOGIN_URL = 'oidc_authentication_init'
# OIDC_ADMIN_ROLE = 'ksi'
# OIDC_OP_AUTHORIZATION_ENDPOINT = ''
# OIDC_OP_TOKEN_ENDPOINT = ''
# OIDC_OP_USER_ENDPOINT = 'o'
# OIDC_OP_JWKS_ENDPOINT = ''
# OIDC_OP_LOGOUT_ENDPOINT = ''
# OIDC_RP_CLIENT_ID = ''
# OIDC_RP_CLIENT_SECRET = None
# OIDC_OP_LOGOUT_URL_METHOD = 'gutenberg.auth.oidc_op_logout'
# AUTHENTICATION_BACKENDS = (
#     'django.contrib.auth.backends.ModelBackend',
#     'gutenberg.auth.OIDCAuthenticationBackend',
# )

# Celery
CELERY_BROKER_URL = 'redis://localhost:6379'

USE_X_FORWARDED_HOST = True
SECURE_PROXY_SSL_HEADER = ('HTTP_X_FORWARDED_PROTO', 'https')
