/backend/gutenberg/settings/docker_settings.py
/backend/gutenberg/settings/local_settings.py
/backend/gutenberg/settings/production_settings.py

/backend/.venv
/backend/.python-version

# celery beat schedule file
/backend/celerybeat-schedule

# Gutenberg
# Upload directory (local_settings only)
/backend/print/

# Webapp
/webapp/node_modules
/webapp/dist
/webapp/.nuxt
/webapp/.output

# local env files
/.env.local
/.env.*.local

# Editor directories and files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker Compose secrets
# SECURITY: Never remove this entry from .dockerignore, even if it is no longer used,
#           to avoid accidentally exposing secrets previously stored in the repo.
/secrets
