{% extends 'common/bootstrap.html' %}

{% load bootstrap4 %}
{% load static %}

{% block bootstrap4_content %}
    <nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{% url 'print' %}">
            <img srcset="{% static 'img/logo-30.png' %},
                         {% static 'img/logo-60.png' %} 2x,
                         {% static 'img/logo-90.png' %} 3x,
                         {% static 'img/logo-120.png' %} 4x"
                 src="{% static 'img/logo-30.png' %}" alt="">
            Gutenberg
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="nav_dropdown"
                   role="button" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    {% if request.user.last_name %}
                        {{ request.user.first_name }}
                        {{ request.user.last_name }}
                    {% else %}
                        {{ request.user }}
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right"
                     aria-labelledby="nav_dropdown">
                    <a class="dropdown-item" href="{% url 'cas_ng_logout' %}">
                        Sign out
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <main class="container">
        <h1 class="display-4 mt-3">{% block title %}{% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <div class="container">
        <span class="text-muted">
            &copy; <a href="https://ksi.ii.uj.edu.pl">KSI UJ</a> |
            <a href="https://github.com/KSIUJ/gutenberg">Source</a>
        </span>
        </div>
    </footer>

    {# TODO remove when https://github.com/zostera/django-bootstrap4/pull/71/ is merged #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
{% endblock %}
