{% extends 'common/base.html' %}
{% load bootstrap4 %}

{% block title %}Print{% endblock %}

{% block content %}
    <form role="form" class="form" method="post" enctype="multipart/form-data" id="print-form">
        {% csrf_token %}

        {% bootstrap_form_errors form type='non_fields' layout='horizontal' %}


        <h4>Select printer</h4>
        {% bootstrap_field form.printer layout='horizontal' %}

        <div class="row">
            <div class="col-sm-8">
                <h4>Upload file</h4>
                {% bootstrap_field form.file_to_print layout='horizontal' %}
            </div>
            <div class="col-sm">
                <h4>or print using IPP</h4>
                <p>Print directly from your device through system printing using the <b>Internet Printing Protocol</b>.</p>
                <a class="btn btn-secondary" href="#"
                   onclick="this.href='/ippinfo/' + document.getElementById('print-form').printer.value + '/';">
                    Show IPP settings for this printer
                </a>
            </div>
        </div>

        <h4>Print settings</h4>
        {% bootstrap_field form.copy_number layout='horizontal' %}
        {% bootstrap_field form.pages_to_print layout='horizontal' %}
        {% bootstrap_field form.two_sided layout='horizontal' %}
        {% bootstrap_field form.color_enabled layout='horizontal' label_class='d-none d-md-block col-md-3 col-lg-2' %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Print
            </button>

        {% endbuttons %}
    </form>
{% endblock %}
