name: Gutenberg

on:
  push:
    branches:
      - master

jobs:
  deploy_mdbook:
    concurrency:
      cancel-in-progress: false
      group: "gh-pages"

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          sparse-checkout: |
            docs

      - uses: cargo-bins/cargo-binstall@main

      - name: Install mdBook and plugins
        run: >
          cargo binstall -y
          mdbook
          mdbook-mermaid

      - name: Build book
        working-directory: docs
        run: mdbook build

      - name: Upload GitHub Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/book

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
